<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="5 seconds" debug="false">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</pattern>
        </encoder>
    </appender>

    <!-- Логгер сервиса -->
    <logger name="com.example.vkbot" level="INFO" additivity="false">
        <appender-ref ref="Console"/>
    </logger>

    <!-- Общий логгер -->
    <root level="INFO">
        <appender-ref ref="Console"/>
    </root>

</configuration>